<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="animated fadeInDown" style="position: fixed;">
  <ion-fab-button (click)="togglePopupMenu()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    <div class="popup-menu-item" routerLink="/toolbox-create">
      <ion-icon name="cube" slot="middle" size="large"></ion-icon>
      <span>Toolbox talks</span>
    </div>
    <div class="popup-menu-item" routerLink="/inductionchecklist-create">
      <ion-icon name="checkbox" slot="middle" size="large"></ion-icon>
      <span>Induction checklist</span>
    </div>
    <div class="popup-menu-item" routerLink="/incident-create">
      <ion-icon name="medkit" slot="middle" size="large"></ion-icon>
      <span>Incidents</span>
    </div>
    <div class="popup-menu-item" routerLink="/image-upload">
      <ion-icon name="image" slot="middle" size="large"></ion-icon>
      <span>Capture Image</span>
    </div>
    <div class="popup-menu-item" routerLink="/verification-image">
      <ion-icon name="cloud-upload" slot="middle" size="large"></ion-icon>
      <span>Upload Image</span>
    </div>
    <div class="popup-menu-item" routerLink="/chatbot">
      <ion-icon name="chatbubbles" slot="middle" size="large"></ion-icon>
      <span>Chat bot</span>
    </div>
    
  </div>
</div>