<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>List All Jobcards</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Jobcard Id</th>
            <th scope="col">Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Customer</th>
            <th scope="col">Starting Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Work Order Number</th>
            <th scope="col">Location Name</th>
            <th scope="col">Job Description</th>
            <th scope="col">Job Steps</th>
            <th scope="col">Hazards</th>
            <th scope="col">Uncontainable Risks</th>
            <th scope="col">Control Measures</th>
            <th scope="col">Controlled Risk Levels</th>
            <th scope="col" class="text-right">Status</th>
            <th scope="col" class="text-right">Amount Invoiced</th>
            <th scope="col" class="text-right">Send To</th>
            <th scope="col" class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let jobcard of jobcardData">
            <td>{{jobcard._id}}</td>
            <td>{{jobcard.name}}</td>
            <td>{{jobcard.createdAt}}</td>
            <td>{{jobcard.customer}}</td>
            <td>{{jobcard.starting_date}}</td>
            <td>{{jobcard.end_date}}</td>
            <td>{{jobcard.workorder_number}}</td>
            <td>{{jobcard.location_name}}</td>
            <td>{{jobcard.job_description}}</td>
            <td>{{jobcard.job_steps}}</td>
            <td>{{jobcard.hazards}}</td>
            <td>{{jobcard.uncontainable_risks}}</td>
            <td>{{jobcard.control_measures}}</td>
            <td>{{jobcard.controlled_risk_levels}}</td>
            <td>{{jobcard.status}}</td>
            <td>{{jobcard.amount_invoiced}}</td>
            <td>{{jobcard.issue_to}}</td>
            <td style="display: flex">
                <ion-button color="warning" size="small" routerLink='/edit/{{jobcard._id}}'>
                    <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button color="danger" size="small" (click)="delete(jobcard)">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </td>
        </tr>
        </tbody>
    </table>
    <ion-button [routerLink]="['/jobcardcreate']">
        Add Jobcard
    </ion-button>
</ion-content>
