
<!-- student-create.html -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Create Induction Checklist</ion-title>
    <ion-button slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-item>
    <ion-label>Location</ion-label>
    <ion-input [(ngModel)]="data.location" placeholder="Enter Location"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Manager</ion-label>
    <ion-input [(ngModel)]="data.manager" placeholder="Enter Manager"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Position</ion-label>
    <ion-input [(ngModel)]="data.position" placeholder="Enter Position"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Workplace</ion-label>
    <ion-input [(ngModel)]="data.workplace" placeholder="Enter Workplace"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Competencies</ion-label>
    <ion-checkbox [(ngModel)]="data.competencies" ></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Permits</ion-label>
    <ion-checkbox [(ngModel)]="data.permits" ></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Reporting Incidents</ion-label>
    <ion-checkbox [(ngModel)]="data.reporting_incidents"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Work Safety</ion-label>
    <ion-checkbox [(ngModel)]="data.workplace_safety"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Safe Work Method</ion-label>
    <ion-checkbox [(ngModel)]="data.safe_work_method"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Specialised Equipment</ion-label>
    <ion-checkbox [(ngModel)]="data.specialised_equipment" ></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>PPE Equipment</ion-label>
    <ion-checkbox [(ngModel)]="data.ppe_equipment"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Assembly Points</ion-label>
    <ion-checkbox [(ngModel)]="data.assembly_points" ></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Medical Facility</ion-label>
    <ion-checkbox [(ngModel)]="data.medical_facility"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Emergency Services</ion-label>
    <ion-checkbox [(ngModel)]="data.emergency_services" ></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Emergency Communication</ion-label>
    <ion-checkbox [(ngModel)]="data.emergency_communication"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Fire Fighting</ion-label>
    <ion-checkbox [(ngModel)]="data.firefighting"></ion-checkbox>
  </ion-item>
 

 
  <ion-item>
    <ion-button (click)="submitForm()">Add
    </ion-button>
  </ion-item>
 
</ion-content>
