<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Gives you basic information about OHS</strong></ion-text>
      </h1>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Toolbox talk</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        A Toolbox Talk is an informal safety meeting that focuses on safety topics related to the specific job, such as workplace hazards and safe work practices. Meetings are normally short in duration and are generally conducted at the job site prior to the commencement of a job or work shift. It is one of the very effective methods to refresh workers' knowledge, cover last minute safety checks, and exchange information with the experienced workers. Toolbox Talks are also intended to facilitate health and safety discussions on the job site and promote your organization’s safety culture. Toolbox talks/meetings are sometimes referred to as tailgate meetings or safety briefings.  
      </p>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Induction checklist</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        An induction checklist is a well-detailed guideline outlining the activities lined up for the new employee or contractor, to ensure timely coverage of the induction process and to avoid omission or duplication of information. It is a critical tool that has proven to be efficient over the years. Typically used for safety / WHS induction checklists. 
      </p>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Incident</strong></ion-text>
      </h1>
      
      <p margin-bottom>
       the incidents tab helps you to report any incident that occurs on the sites
      </p>
      
     
    </ion-card-content>
  </ion-card>

</ion-content>
