<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Upload Verification Image</ion-title>
    <ion-button slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding"></div>  
    <div class="form-group">
      <ion-item>

      <ion-input
      [(ngModel)]="file"
      [ngModelOptions]="{standalone: true}"
      class="form-control"
      type="file"
      id="file"
      (change)="handleFileInput($event.target.files)"></ion-input>

      </ion-item>
    

      
      <ion-item>

         
            <ion-label style="padding-top: 10px">Upload For: </ion-label >
            <ion-select class="form-control" id="category"  [(ngModel)]="user"
            [ngModelOptions]="{standalone: true}"
            type="text" (blur)="focus = false"
            (focus)="focus = true"
            >
                <ion-select-option *ngFor="let user of users" [value]="user._id">{{user.name}}</ion-select-option>
            </ion-select>
       
          </ion-item>

          <ion-item>
          <ion-input
           [(ngModel)]="amount"
           [ngModelOptions]="{standalone: true}"
           class="form-control"
           placeholder="number"
           type="text" (blur)="focus = false"
           (focus)="focus = true" ></ion-input>
          </ion-item>
           <ion-item>
          <ion-input
           [(ngModel)]="filename"
           [ngModelOptions]="{standalone: true}"
           class="form-control"
           placeholder="Image Name"
           type="text" (blur)="focus = false"
           (focus)="focus = true"></ion-input>
       </ion-item>
      <ion-button class="btn btn-primary" id="signup" (click)="upload()" style="width: 140px; margin-left: 40%; margin-bottom: 10px;">Upload</ion-button>

    </div>

</ion-content>
