<!-- student-create.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Induction Checklist</ion-title>
    <ion-button slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Location</ion-label>
    <ion-input [(ngModel)]="data.location" placeholder="Enter Location"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Manager</ion-label>
    <ion-input [(ngModel)]="data.manager" placeholder="Enter Manager"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Position</ion-label>
    <ion-input [(ngModel)]="data.position" placeholder="Enter Position"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Work place</ion-label>
    <ion-input [(ngModel)]="data.workplace" placeholder="Enter Workplace"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>have you checked the competencies and qualification of the inductees</ion-label>
    <ion-checkbox [(ngModel)]="data.competencies"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Have inductees signed on and added proof of permits and qualifications</ion-label>
    <ion-checkbox [(ngModel)]="data.permits"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Have you discussed and clearly stated the procedures for reporting incidents injuries and hazards</ion-label>
    <ion-checkbox [(ngModel)]="data.reporting_incidents"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Have you discussed the workplace safety rules</ion-label>
    <ion-checkbox [(ngModel)]="data.workplace_safety"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Has the person(s) been taken through relevant safe work method statement for the tasks to be performed</ion-label>
    <ion-checkbox [(ngModel)]="data.safe_work_method"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Is specialized equipment required to have been trained to use the equipment</ion-label>
    <ion-checkbox [(ngModel)]="data.specialised_equipment"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Do people have correct PPE equipment e.g hard hat ,safety glasses,safety boots, long sleeved shirts,high visibility vests?</ion-label>
    <ion-checkbox [(ngModel)]="data.ppe_equipment"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Have you shown people assembly point in case of an emergecy</ion-label>
    <ion-checkbox [(ngModel)]="data.assembly_points"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Have you shown people what to do in an emergency and closest medical facility?</ion-label>
    <ion-checkbox [(ngModel)]="data.medical_facility"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Do the staff have a way to contact emergecy services</ion-label>
    <ion-checkbox [(ngModel)]="data.emergency_services"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Have you shown the person what to do in an emergency situation and identified the location and provision of emergency communication?</ion-label>
    <ion-checkbox [(ngModel)]="data.emergency_communication"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Have you shown the person where all relevant firefighting equipment is located?</ion-label>
    <ion-checkbox [(ngModel)]="data.firefighting"></ion-checkbox>
  </ion-item>



  <ion-item>
    <ion-button (click)="submitForm()">Add
    </ion-button>
  </ion-item>

</ion-content>